<article class="card" itemscope itemtype="http://schema.org/Article">
  {% if include.teaser %}<a href="{{ site.chvote-root-url }}/{{ include.url }}" target="_blank" title="{{ include.title }}" class="card-teaser" style="text-align: center"><img src="{{ site.url }}/images/{{ include.teaser }}" alt="teaser" itemprop="image"></a>{% endif %}
  <h2 class="card-title" itemprop="name" style="text-align: center"><a href="{{ site.chvote-root-url }}/{{ include.url }}" target="_blank">{{ include.title }}</a></h2>
  <p class="card-excerpt" itemprop="description">{{ include.excerpt }}</p>
</article>
