---
layout: default
---

<div id="main" role="main">
	<article class="wrap" itemscope itemtype="http://schema.org/Article">
		{% if page.image.feature %}
		<div class="page-feature">
			<div class="page-image">
				<img src="{{ site.url }}/images/{{ page.image.feature }}" class="page-feature-image" alt="{{ page.title }}" itemprop="image">
				{% if page.image.credit %}{% include image-credit.html %}{% endif %}
			</div><!-- /.page-image -->
		</div><!-- /.page-feature -->
		{% endif %}
		{% include breadcrumbs.html %}
		<div class="page-title">
			<h1>{{ page.title }}</h1>
		</div>
		<div>
			<div id="content" class="page-content" itemprop="articleBody">
				{{ content }}
        <footer class="page-footer">
          {% include footer.html %}
        </footer><!-- /.footer -->
			</div><!-- /.content -->
		</div>
	</article><!-- ./wrap -->
</div><!-- /#main -->
